body {
    font-family:'Fira Sans', "Lucida Grande",Tahoma,sans-serif;
    color: #0f1621;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

#map {
    border:1px solid #cdced0;
    position: absolute;
    top: 15px;
    bottom: 50px;
    right: 15px;
    left: 15px;
}

div .map-title {
 margin: 0 0 0 10px;
 font-size:12px;
}


a {
 color: #0f1621;
}

