body {
    font-family:'Fira Sans', "Lucida Grande",Tahoma,sans-serif;
    color: #0f1621;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}


#map{
    border:1px solid #cdced0;
    background-color:#e4e6e9;
    height: 95vh;
    width: 100%;
}
