body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #0f1621;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

#map {
    border:1px solid #cdced0;
    position: absolute;
    top: 15px;
    bottom: 30px;
    right: 15px;
    left: 15px;
}

div .map-title {
   left: 0px; 
   top: 0px; 
   position: absolute; 
   background-color: rgba(255, 255, 255, 0.8); 
   color: rgb(15, 22, 33); 
   padding: 2px 16px;
   z-index : 1;
   font-size: 12px;
}

a {
    color: #0f1621;
}

