body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #0f1621;
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}

#map {
    border:1px solid #cdced0;
    position: absolute;
    top: 15px;
    bottom: 30px;
    right: 15px;
    left: 15px;
}

div .map-title {
    padding: 0 0 0 10px;
    font-size: 12px;
    background-color: aliceblue;
}

a {
    color: #0f1621;
}

